<div class="forgotpassword">
    <form [formGroup]="aFormGroup" (ngSubmit)="forgotpassword()">
        <div class="mb-3">
            <label for="email" class="form-label"></label>
            <h2>Please enter your registered email below.</h2>
            <input type="email" formControlName="email" id="email" class="form-control" placeholder="Enter email" />
            <div *ngIf="aFormGroup.get('email')?.invalid && (aFormGroup.get('email')?.dirty || aFormGroup.get('email')?.touched)"
                class="error-message">
                <div *ngIf="aFormGroup.get('email')?.hasError('required')">email is required</div>
                <div *ngIf="aFormGroup.get('email')?.hasError('email')">Enter a valid email address
                </div>
            </div>
        </div>
        <br>
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
        </ngx-recaptcha2>
        <br>
        <br>
        <div>
            <button type="submit" class="btn btn-success">Send Email</button>
        </div>
    </form>
</div>