.forgotpassword{
    border: 1px solid rgb(236, 231, 231);
    width: 35%;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 1px solid rgb(243, 229, 229);
    background-color: rgb(233, 245, 231);
    margin-left: 30%;  
    margin-top: 5%; 
}
.error-message {
    color: red;
    font-style: italic;
}