<app-navbar-admin></app-navbar-admin>

  <button mat-raised-button color="primary" routerLink="/adminLogin">
    <mat-icon>keyboard_return</mat-icon> GoBack
  </button>
  
<div class="row">
  <div *ngFor="let user of dataSource" class="col-md-4 card">
    <div class="heading fs-5">
      Username: {{ user.username }}
    </div>
    <div class="card-body" align="center">
      <!-- <p class="card-text">Role: {{ user.role }}</p> -->
      <p class="email fs-6"> Email: {{ user.email }}</p>
      <p class="card-text fs-6">Gender: {{ user.gender }}</p>
      <img *ngIf="user.gender === 'Male'; else femaleImage" src="assets/Male.jpg" alt="Male" width="100px" />
      <ng-template #femaleImage>
        <img src="assets/Female.jpg" alt="Female" width="100px" />
      </ng-template>
      <p class="card-text fs-6">Age: {{ user.age }} years</p>
      <p class="country fs-6">Country: {{ user.country }}</p>
    </div>
  </div>
</div>
