
<div class="setPassword">
    <h1>Change Your Password</h1>
    <form [formGroup]="aFormGroup" (ngSubmit)="setpassword()">
        <div class="mb-3">
            <label for="password" class="form-label"></label>
            <p>Please enter your new password below.</p>
            <input type="password" formControlName="password" id="password" class="form-control"
                placeholder="Enter Password" />
            <div *ngIf="aFormGroup.get('password')?.invalid && (aFormGroup.get('password')?.dirty || aFormGroup.get('password')?.touched)"
                 class="error-message">
                <div *ngIf="aFormGroup.get('password')?.hasError('required')">Password is required</div>
                <div *ngIf="aFormGroup.get('password')?.hasError('minlength')">Password should be at least 8 characters long
                </div>
                <div *ngIf="aFormGroup.get('password')?.hasError('pattern')">Password should include at least one uppercase
                    letter, one lowercase letter, one digit, and one special character</div>
            </div>
        </div>
        <br>
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
        </ngx-recaptcha2>
        <br>
        <br>
        <div>
            <button type="submit" class="btn btn-success">Update Password</button>
        </div>
    </form>
</div>
